.divCard{
  background-color: #FFFBAC;
  padding: 1%;
  margin: 1%;
  max-width: 10rem;
  flex-wrap: wrap;
  border-radius: 5%;
 
}

.mainCardDiv {
  margin-top: 5%;
  display:flex;
  max-width: 1200px;
  flex-wrap: wrap;
}